.container {
    width: 90%;
    justify-content: center;
    margin: 10px auto 10px auto;
}

.card {
    display: grid;
    grid-template-rows: 50px 200fr 50px 50px;
    width: 90%;
    margin: 5px auto 5px auto;
    border-radius: 0 0 4% 4%;
    background-color: #F2F2F2;
    box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.8), 5px 5px 10px rgb(0, 0, 0, 0.25);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #9FA6A5;
    border-radius: 0 0 50% 50%;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 1em;
}

.itemImg {
    width: 50%;
    margin: 1px auto 1px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
}

.btnDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 2px auto 10px auto;
    box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.8), 5px 5px 10px rgb(0, 0, 0, 0.25);
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    background-color: #b7c2c0;
    text-shadow: 2px 2px black;
}

@media (min-width: 800px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 1024px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}